$containet-w: 1160px;
$containet-p: 40px;
$link-hover-color: #248cec;
$bgr-dark: #2a2d32;
$navbar-h: 56px;
$menu-item-w: 114px;
$menu-fz: 14px;


$number-fz: 90px;
$infoblok-h: 180px;
$infoblock__descript-h: 55px;

$services-fc: white;
